.custom-navbar{
  background-color: #080a54 !important;
  margin-bottom: 5px;
}

.brand-name, .brand-subname{
  font-weight: bolder;
  font-size: 25px;
  font-family: fantasy;
}

.brand-name{
  color: white;
}

.brand-subname{
  color: #ababba;
}

.container-body { 
  padding-top: 70px; 
}

body{
  padding: 0 10px;
}